<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div>
        <div>
          <ul class="logo-container">
            <li>
              <a href="/">
                <div class="logo">
                  <img src="/assets/logo.png" alt="" />
                  <div class="game-store">
                    <p>GAME</p>
                    <p>STORE</p>
                  </div>
                </div>
              </a>
            </li>
            <li><a href="" class="support">Support</a></li>
          </ul>
        </div>
        <nav>
          <ul class="search-browse fixed-section" id="stickySection">
            <li>
              <form class="search" action="/game" method="get">
                <label for="search-developer"></label>
                <div class="search-input">
                  <img src="/assets/search-icon.svg" alt="" />
                  <input
                    type="text"
                    name="searchDeveloper"
                    id="searchDeveloper"
                    placeholder="Search store"
                  />
                </div>
                <!-- <button type="submit">Search </button> -->
              </form>
            </li>
            <div class="browse-genre">
              <li><a href="">Browse</a></li>
              <li><a href="">Game Developers</a></li>
            </div>
          </ul>
        </nav>
        <div class="popular-genres">
          <p class="heading">Edit Game</p>
        </div>
        <form class="add-game-form" action="/edit-game" method="post">
          <input
            class="hidden"
            type="text"
            name="id"
            id="id"
            value="<%=id%>"
            readonly
          />
          <label for="title">Game Title</label>
          <input type="text" name="title" id="title" value="<%=title%>" />
          <label for="release_date">Release Date</label>
          <input type="date" name="release_date" id="release_date" />
          <label for="rating">Rating</label>
          <input type="text" name="rating" id="rating" value="<%=rating%>" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <script>
      const stickySection = document.getElementById("stickySection");
      const stickyOffset = stickySection.offsetTop;

      window.addEventListener("scroll", function () {
        if (window.pageYOffset > stickyOffset) {
          stickySection.classList.add("fixed");
        } else {
          stickySection.classList.remove("fixed");
        }
      });
    </script>
  </body>
</html>
