<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/action">Action</a>
    <a href="/sport">Sports</a>
    <a href="/adventure">Adventure</a>
    <a href="/rpg">RPG</a>
    <a href="/simulation">Simulation</a>
    <a href="/strategy">Strategy</a>
  </body>
</html>
