<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/new-game" method="post">
      <label for="title">Game Title</label>
      <input type="text" name="title" id="title" />
      <label for="release_date">Release Date</label>
      <input type="date" name="release_date" id="release_date" />
      <label for="rating">Rating</label>
      <input type="text" name="rating" id="rating" />
      <label for="image_url">Add Game Image URL</label>
      <input type="text" name="image_url" id="image_url" />
      <button type="submit">Add Game</button>
    </form>
  </body>
</html>
