* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  list-style: none;
  color: white;
  scroll-behavior: smooth;
  text-decoration: none;
}
/* html {
  display: flex;
  justify-content: center;
} */
body {
  background-color: rgb(23, 23, 23);
  /* display: flex;
  justify-content: center; */
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;

  list-style: none;
  justify-content: center;
}
.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.support {
  text-decoration: none;
  color: white;
  padding: 10px 17px;
  border-radius: 4px;
  background-color: rgb(51, 49, 49);
  font-weight: 400;
  font-size: 12px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
    height: auto;
  }
  p {
    font-weight: 600;
    color: white;
    font-size: 20px;
    line-height: 17px;
    /* margin-bottom: 5px; */
  }
}
.game-store {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  list-style: none;
}
.search {
  input {
    background-color: rgb(51, 49, 49);
    border: none;
    /* color: white; */
    font-size: 14px;
    /* padding: 5px; */
  }
}
.search-browse {
  display: flex;
  gap: 50px;
  justify-content: left;
  align-items: center;
  padding: 50px 0;
  transition: all 1s ease;
  background-color: rgb(23, 23, 23);
  width: 100%;
}
.browse-genre {
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
  }
}
.search-input {
  background-color: rgb(49, 47, 47);
  border-radius: 40px;
  padding: 10px 13px;
  width: 270px;
  display: flex;
  align-items: center;

  img {
    width: 13px;
    height: auto;
    margin: 10px;
  }
}
.heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.genre {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  margin-bottom: 50px;
}
.genre-item {
  background-color: rgb(49, 47, 47);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
  }
  p {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  /* left: 118px; */
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 200px;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game-item {
  img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.game-title {
  font-size: 13px;
  font-weight: 600;
}
.game-item {
  margin-top: 50px;
  p {
    margin: 5px 0;
  }
}
.release-year {
  font-size: 10px;
  color: rgb(72, 71, 71);
}
.title-rating {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.rating {
  font-weight: 300;
  color: grey;
  font-size: 10px;
}
.delete-game,
.edit-game {
  background-color: rgb(72, 71, 71);
  color: white;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 10px;
  text-decoration: none;
}
.title-view {
  width: 100%;
  display: flex;
  align-items: start;
}
.edit-game {
  a {
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-size: 10px;
  }
}
.view-game {
  margin-top: 3px;
  margin-left: 5px;
  color: rgb(223, 223, 223);
  background-color: rgb(72, 71, 71);
  /* color: white; */
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 8px;
  text-decoration: none;
}
.edit-delete {
  display: flex;
  gap: 110px;
}
.new-game {
  background-color: rgb(51, 49, 49);
  border: none;
  color: white;
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 15px;
  position: relative;
  right: 30px;
}
.add-game-form {
  display: flex;
  flex-direction: column;
  input {
    background-color: rgb(51, 49, 49);
    border: none;
    width: 400px;
    border-radius: 5px;
    padding: 15px;
  }
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    color: rgb(156, 154, 154);
  }
  button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 400px;

    color: rgb(51, 49, 49);
    border: none;
  }
}
.view-game-item {
  img {
    width: 600px;
    height: 700px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
